<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="simulation" default="false" />
  <arg unless="$(arg simulation)" name="control_args" value="-i eth4" />
  <arg     if="$(arg simulation)" name="control_args" value="--loopback" />

  <!-- Load hardware interface -->
  <node name="main" pkg="minas_control"
        type="main" args="$(arg control_args)"
        respawn="false" output="screen" launch-prefix="$(arg launch_prefix)">
  </node>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find minas_control)/config/minas_controllers.yaml"
            command="load"/>

  <!-- Load the default controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              position_trajectory_controller
              " />
  <!-- position_trajectory_controller -->

</launch>
